.custom-toast-container {
  top: 40px !important; /* 调整这个值以匹配你的 navbar 高度 */
  width: auto !important;
  max-width: 600px !important; /* 增加最大宽度 */
  min-width: 300px !important; /* 设置最小宽度 */
}

.custom-toast-container .Toastify__toast {
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden;
  text-overflow: ellipsis; /* 超出部分显示省略号 */
}

@media (max-width: 600px) {
  .custom-toast-container {
    width: 90% !important; /* 在移动设备上使用百分比宽度 */
    max-width: none !important;
    left: 5% !important;
    right: 5% !important;
    padding: 0;
  }

  .custom-toast-container .Toastify__toast {
    white-space: normal; /* 在移动设备上允许文本换行 */
  }
}
